@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  min-height: 100dvh;
}

body {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: var(--foreground);
  background: url('/assets/images/space-stars.jpg') repeat top center / contain, var(--background);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  .modal-content {
    min-height: 100vh;
    --bg: var(--background);
    mask-image: linear-gradient(to right, transparent, var(--bg) 40%);

    -webkit-mask-image: linear-gradient(to right, transparent, var(--bg) 40%);
  }

  progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 9999px;
  }

  progress::-webkit-progress-value,
  progress::-moz-progress-bar {
    background-color: #0408ff;
    border-radius: 9999px;
  }
}
