@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
.modal {
  min-height: 100vh;
  color: var(--foreground);
  background: url('/assets/images/space-stars.jpg') repeat top center / contain, var(--background);
  color: #7b00ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  .modal-content {
    -webkit-mask-image: linear-gradient(to top, transparent, black 40%);
    mask-image: linear-gradient(to top, transparent, black 40%);
  }
}
